src/xml/schema/control.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           elementFormDefault="qualified" 
           attributeFormDefault="unqualified">

  <!-- 控件类型定义 -->
  <xs:simpleType name="ControlType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="window"/>
      <xs:enumeration value="button"/>
      <xs:enumeration value="edit"/>
      <xs:enumeration value="label"/>
      <xs:enumeration value="list"/>
      <xs:enumeration value="tree"/>
      <xs:enumeration value="grid"/>
      <xs:enumeration value="menu"/>
      <xs:enumeration value="toolbar"/>
      <xs:enumeration value="statusbar"/>
      <xs:enumeration value="panel"/>
      <xs:enumeration value="group"/>
      <xs:enumeration value="image"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 事件类型定义 -->
  <xs:simpleType name="EventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="onClick"/>
      <xs:enumeration value="onDoubleClick"/>
      <xs:enumeration value="onChanged"/>
      <xs:enumeration value="onSelected"/>
      <xs:enumeration value="onHover"/>
      <xs:enumeration value="onFocus"/>
      <xs:enumeration value="onBlur"/>
      <xs:enumeration value="onKeyPress"/>
      <xs:enumeration value="onMouseMove"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- 属性类型定义 -->
  <xs:complexType name="PropertyType">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- 事件绑定类型 -->
  <xs:complexType name="EventBindingType">
    <xs:attribute name="event" type="EventType" use="required"/>
    <xs:attribute name="handler" type="xs:string" use="required"/>
  </xs:complexType>

  <!-- 控件定义 -->
  <xs:complexType name="ControlDefinition">
    <xs:sequence>
      <xs:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="event" type="EventBindingType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="type" type="ControlType" use="required"/>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>

  <!-- 控件注册表 -->
  <xs:element name="controls">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="control" type="ControlDefinition" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
